@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<div class="background">
</div>

<div class="shadow">
</div>
@section Styles {
	<link rel="stylesheet" href="~/css/HomePage/HomePage.css" />

}
