@model IEnumerable<BuildMaterialsApp.Models.Product.ProductIndexVM>

@{
	
	ViewData["Title"] = "Home Page";
}

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="text-center">
</div>

<div class="background text-center">

	<h1>Welcome to BuildMaterials</h1>
	<p>Here you can find everything you need for the construction of your home.🏗️</p>


</div>

<div class="shadow">
</div>
<div class="body-brick">
<div class="text1">
	<h1>👷‍ About us 👷‍</h1>
</div>
<div class="back-b">


<div class="picture-container">
	<div class="picture">
	
	</div>


</div>

<div class="photo">
	<img src="~/builder.webp" alt="Construction">
</div>
<div class="paragraph">
	
	
	<p>
		We are here to help you build your home. Home construction 
		is one of the most important processes in every person's life.
		We are here to assist you in choosing the best building materials
		for your home. We offer a wide variety of building materials at the best prices. 
		We are here to help you select the best building materials for your home. 
		We offer a large selection of building materials at the best prices.
	</p>
</div>

<div class="h1HomePage">
	<h1>✨ Newest products ✨</h1>
</div>
<div class="buttonCard">
	<div class="card-containerRadius">

		<div class="container-cardHome">

			
			<img src="https://api.praktiker.bg/medias/130287.jpg-Listing-grid?context=bWFzdGVyfHJvb3R8MTExOTd8aW1hZ2UvanBlZ3xhRGRsTDJneU1pOHhOakE0T1RReE16QTVNVE0xT0M1cWNHY3xkYmE2ZTUxYjMwNDZmYjhkMzE4MTg1NjlhNTU2MDg2ZGIyNjYxYTc5ZDQzZDk0NjQxNTVjOTU1YmFhZWI3Yzg1" alt="Product Image">
			<h2>ГРУНД BAUMIT СУПЕРПРАЙМЕР</h2>
			<p>

				ЗА НЕПОПИВАЩИ ОСНОВИ
				РАЗФАСОВКА-KG : 1.000 kg
				ФИРМА-ПРОИЗВОДИТЕЛ : БАУМИТ БЪЛГАРИЯ ЕООД.
			</p>
			<div class="price">Цена: 7.99 лв</div>
			<a asp-action="Index" asp-controller="Product" class="btn btn-warning">View in products</a>


		</div>
		<div class=" container-cardHome2">
		
			
			<img src="https://api.praktiker.bg/medias/495394.jpg-Listing-grid?context=bWFzdGVyfHJvb3R8MTIwODJ8aW1hZ2UvanBlZ3xhREl5TDJnek9DOHlPVGd4TVRZM05qTTBPRFEwTmk1cWNHY3xhNzU0Yjg0YmMzOWFkYTIwMmZmZTAzOTQ5NjU5MTIxZTYxYzJlOGE3OGRjMmY3MGU1ZThmMWUxYTI4NzY2ZDc1" alt="Product Image">
			<h2>ГРУНД БЕТОНКОНТАКТ BAUMIT</h2>
			<p>
				ЗА БЕТОНОВИ ПОВЪРХНОСТИ
				РАЗФАСОВКА-KG : 1.000 kg
				ФИРМА-ПРОИЗВОДИТЕЛ : БАУМИТ БЪЛГАРИЯ ЕООД
			</p>
			<div class="price">Цена: 22.99 лв</div>
			<a asp-action="Index" asp-controller="Product" class="btn btn-warning">View in products</a>

		</div>
		<div class=" container-cardHome3">
			
			
			<img src="https://api.praktiker.bg/medias/129976.jpg-Listing-grid?context=bWFzdGVyfHJvb3R8MTIxMDF8aW1hZ2UvanBlZ3xhRGczTDJnNVppOHpNRFU1TlRVME56TXpNall6T0M1cWNHY3w3Nzc0MjhkZDVmODA3MTE2MDNlYzg5NmI2MjhlZmZkNjZkYjg3ZjJiYjY1NmE5ZDhiMTI3YjYzZGJkYTQ0NDg4" alt="Product Image">
			<h2>ДЪЛБОКОПРОНИКВАЩ ГРУНД MAPEI PRIMER </h2>
			<p>
				РАЗФАСОВКА-KG : 1.000 kg
				РАЗФАСОВКА-KG : 1.000 kg
				ФИРМА-ПРОИЗВОДИТЕЛ : БАУМИТ БЪЛГАРИЯ ЕООД
			</p>
			<div class="price">Цена: 22.99 лв</div>
			<a asp-action="Index" asp-controller="Product" class="btn btn-warning">View in products</a>

		</div>
		<div class=" container-cardHome4">
			
			
			<img src="https://api.praktiker.bg/medias/466231.jpg-Listing-grid?context=bWFzdGVyfHJvb3R8NzQ2NXxpbWFnZS9qcGVnfGFHRTRMMmhsTUM4eU5qZ3pNVGd5TWpjeE5qazFPQzVxY0djfDc5ZTY1YzU5YWZhNzYyMzA1ZDFkMGYxN2M1ZGU1MDljYTFkOGNmNDllZmVjODMxOWY4ODc5Y2E1NmYxYzhiMmU" alt="Product Image">
			<h2>УНИВЕРСАЛЕН ГРУНД CERESIT CT 7</h2>
			<p>
				ВИД : НА ВОДНА ОСНОВА
				РАЗФАСОВКА-KG : 5.000 kg
				ЗА НЕПОПИВАЩИ ОСНОВИ
				ФИРМА-ПРОИЗВОДИТЕЛ : ХЕНКЕЛ
			</p>
			<div class="price">Цена: 22.99 лв</div>
			<a asp-action="Index" asp-controller="Product" class="btn btn-warning">View in products</a>

		</div>
	</div>
</div>
</div>

<div class="footer-section" style="background-color:darkorange;color:white;">
	<div class="cta-sektion cta-padding35">
		<div class="container">
			<div class="row">
				
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<h3><span class="glyphicon glyphicon-cog "></span> <b>Find us here!</b> </h3>
			<div class="col-md-4 footer-one">
				<h5>Contacts </h5>
				<p>Phone Number:083 728 443</p>
				<div class="social-icons">
					<a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
					<a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
					<a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
					<a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
				</div>
			</div>
			<div class="col-md-3 footer-two">
				<ul>
					<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="Index">All Products</a></li>
					<li><a class="nav-link " asp-area="" asp-controller="Order" asp-action="MyOrders">My Orders</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-three">
				
				<div class="google-map">
				<h5>Maps</h5>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93986.04215288568!2d22.96904604803415!3d42.59638950023718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacb4941e949cf%3A0x400a01269bf5580!2z0J_QtdGA0L3QuNC6!5e0!3m2!1sbg!2sbg!4v1697275776491!5m2!1sbg!2sbg" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
				</div>
			</div>



@section Styles {
	<link rel="stylesheet" href="~/css/site.css"/>

}
