<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - ProBuild Constructions</title>
    <link rel="stylesheet" href="~/css/Contact/StyleSheet.css">
</head>
<body>
    <main>
        <section class="contact-container">
            <h2>Contact us</h2>
            <p>Do you have any questions in mind? Send an email and we will ansered as soon as posible!</p>
            <form action="#" method="POST" class="contact-form">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>

           
                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
  
</body>
</html>
