.container-card {
    width: 30px;
    background: #fff;
    border-radius: 10px;
   
}
.card container-card-item {
    width: 3000px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: 0.3s ease-in-out;
}
.product-border {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

.container-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.container-card img {
    width: 100%;
    border-radius: 1px;
}

.container-card h2 {
    font-size: 22px;
    margin: 15px 0;
}

.container-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}